.page.theme_light {
  --page-bg-image: url(../images/cover-image-light.png);
  --page-bg-color: #fff1f7;
  --decor-color: #353430;
  --decor-color-hover: #32312d66;
  --hero-title-color: #ffc2e6;
  --accent-bg-color: #ff8dcb;
  --accent-text-color: #353430;
  --body-text-color: #353430;
  --focus-outline-color: #353430;
  --title-shadow-color: #ff0070;
  --recording-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-image: url(../images/cover-image-light.png);
    --page-bg-color: #fff1f7;
    --decor-color: #353430;
    --decor-color-hover: #32312d66;
    --hero-title-color: #ffc2e6;
    --accent-bg-color: #ff8dcb;
    --accent-text-color: #353430;
    --body-text-color: #353430;
    --focus-outline-color: #353430;
    --title-shadow-color: #ff0070;
    --recording-display: none;
  }
}
